{% extends 'home.html' %}
{% block content %}

<form action="{% url 'signin' %}" method="POST">

    {% csrf_token %}
    Enter first name:<br><input type="text" name="first_name" placeholder="First name"><br>
    Enter last name:<br><input type="text" name="last_name" placeholder="Last name"><br>
    Enter username:<br><input type="text" name="username" placeholder="Username"><br>
    Enter email:<br><input type="email" name="email" placeholder="Email"><br>
    Enter Password1:<br><input type="password" name="password1" placeholder="Password"><br>
    Enter Password2:<br><input type="password" name="password2" placeholder="Confirm Password"><br>
    <input type="submit">
</form>
{% endblock %}